.burger {
  cursor: pointer;
  display: block;
  position: absolute;
  border: none;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 14px;
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: var(--haiti);
}

.burger::before {
  top: 0;
  box-shadow: 0 6px 0 var(--haiti);
  transition:
    box-shadow var(--duration) calc(var(--duration) / 2),
    top var(--duration) calc(var(--duration) / 2),
    transform var(--duration);
}

.burger::after {
  bottom: 0;
  transition:
    bottom var(--duration) calc(var(--duration) / 2),
    transform var(--duration);
}

.burger.active::before {
  top: 6px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition:
    box-shadow calc(var(--duration) / 2),
    top var(--duration),
    transform var(--duration) calc(var(--duration) / 2);
}

.burger.active::after {
  bottom: 6px;
  transform: rotate(-45deg);
  transition:
    bottom var(--duration),
    transform var(--duration) calc(var(--duration) / 2);
}
