@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  box-sizing: border-box;
  /* font-family: var(--font-inter), sans-serif; */
}

:root {
  --blue-05: rgba(59, 130, 246, 0.5);
  --blue-dark: #1a436b;
  --blue-dark-08: rgba(26, 67, 107, 0.8);
  --blue-dark-05: rgba(26, 67, 107, 0.5);
  --black-30: rgba(0, 0, 0, 0.3);

  --blue-deep: #316292;
  --gray-dark: #474747;

  --gray-medium: #5e5e5e;
  --gray-light: #9e9e9e;
  --gray-metallic: #a6a6a6;

  --white-dark: #e2e2e2;
  --white-light: #e9e9e9;

  --green-main: #0b7436;
  --green-05: rgba(34, 197, 94, 0.5);

  --orange-05: rgba(245, 158, 11, 0.5);

  --red-05: rgba(220, 38, 38, 0.5);

  /* new design */

  /* colors */
  --black-dark: #090928;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-dark: #1a436b;
  --color-blue-deep: #316292;
  --color-gray-dark: #474747;
  --color-black-10: var(--black-30);

  --color-gray-medium: #5e5e5e;
  --color-gray-light: #9e9e9e;
  --color-gray-metallic: #a6a6a6;

  --color-green-main: var(--green-main);

  --color-white-dark: #e2e2e2;
  --color-white-light: #e9e9e9;

  --font-roboto: var(--font-roboto);
  --font-montserrat: var(--font-montserrat);

  /* shadow */
  --shadow-inner-glow: inset 0px 0px 4px 2px var(--blue-dark-05);
  --shadow-inner-glow-active: inset 0px 0px 4px 4px var(--blue-dark-05);

  --shadow-inner-glow-blue: inset 0px 0px 4px 2px var(--blue-05);
  --shadow-inner-glow-active-blue: inset 0px 0px 4px 4px var(--blue-05);

  --shadow-inner-glow-red: inset 0px 0px 4px 2px var(--red-05);
  --shadow-inner-glow-active-red: inset 0px 0px 4px 4px var(--red-05);

  --shadow-inner-glow-orange: inset 0px 0px 4px 2px var(--orange-05);
  --shadow-inner-glow-active-orange: inset 0px 0px 4px 4px var(--orange-05);

  --shadow-inner-glow-green: inset 0px 0px 4px 2px var(--green-05);
  --shadow-inner-glow-active-green: inset 0px 0px 4px 4px var(--green-05);

  --shadow-sm-black: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --drop-shadow-link: 0px 0px 2px var(--blue-dark-08);

  /* breakpoints */
  --breakpoint-*: initial;
  --breakpoint-min-mob: 360px;
  --breakpoint-mob: 568px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;

  /* new design */

  /* colors */
  --color-black-dark: var(--black-dark);

  /* fonts */
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);

  /* radius */
  --radius-button: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--black-dark);
  font-size: 17px;
  line-height: 1.4;
  font-family: var(--font-manrope), sans-serif;
}

.gutter {
  scrollbar-gutter: stable;
}

.scroll-bar-mini {
  scrollbar-gutter: stable;
}

.scroll-bar-mini::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

.scroll-bar-mini::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}

.scroll-bar-mini::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--gray-metallic);
}
.scroll-bar-mini.blue::-webkit-scrollbar-thumb {
  background-color: var(--blue-dark);
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
